*{
    padding: 0;
    margin: 0;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
}
.head{
    background-color: #1d559f;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    background-color: white;
    justify-content:space-evenly;
    list-style-type: none;
    /* padding: 10px 0; */
    border-bottom: 3px solid #1d559f;
}
.menu a{
    display: block;
    padding: 15px;
    color: #1d559f;
    text-decoration: none;
}
.menu li:hover a{
    background-color: red;
}
.picture{
    width: 80%;
    margin-left: 10%;
}



